<div class="{{prefix}}block modals  fade  {{mod}}" id="{{ID}}" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="{{prefix}}dialog  {{mod}}">
		<div class="{{prefix}}body  {{mod}}" >
			<div class="{{prefix}}bg  {{mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}></div>
			<button type="button" class="{{prefix}}btn-close  modal-close" data-dismiss="modal" aria-hidden="true"></button>
			<div class="{{prefix}}content  {{mod}}">
				{% include "../../common/page-header/tpl.twig" with {
					prefix:"page-header__", 
					mod:heading_mod, 
					level:heading_level, 
					heading:heading} %}	
				{% include "../../common/page-header/tpl.twig" with {
					prefix:"page-header__", 
					mod:note_mod, 
					level:note_level, 
					heading:note} %}	
				{% if ID == "modal-order" %}
					{% include "../form/form.twig" with {
						view: 			"order", 
						prefix:			"form__",
						mod:			"is--form-modal", 
						color:			"", 
						ID: 			"fm_order",  
					} %}
				{% endif %}	
			</div> 
		</div>
	</div>
</div>