{% if view == "page" %}
	<section class="{{prefix}}panel  {{mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{prefix}}container  container  {{mod}}">
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}

			<a class="gallery__unit  is--left" href="http://salon-ovatsiya.web-dob.com/media/ckeditor/2020/10/11/salon2.jpg" data-fancybox="gallery">
				<img alt="" class="img-responsive" src="http://salon-ovatsiya.web-dob.com/media/ckeditor/2020/10/11/salon2.jpg"> 
			</a>  
			<a class="gallery__unit  is--right" href="http://salon-ovatsiya.web-dob.com/media/ckeditor/2020/10/11/salon.jpg" data-fancybox="gallery">
				<img alt="" class="img-responsive" src="http://salon-ovatsiya.web-dob.com/media/ckeditor/2020/10/11/salon.jpg"> 
			</a> 
            <p>В человеке все должно быть прекрасно – такова философия салона красоты «Овация», а потому клиентам у нас предлагают самые разные услуги, от креативной стрижки до маникюра. Салон красоты «Овация» для кого-то уже давно стал вторым домом. Опытные парикмахеры, визажисты, маникюристы помогают каждому клиенту стать лучше, красивее, изменить мир вокруг себя и окружающих. В дружелюбной обстановке за чашечкой ароматного кофе вы сможете забыть о повседневной суете и окунуться в мир гармонии. Студия красоты демонстрирует самые современные методики и программы.</p>
            <p> Квалифицированные парикмахеры и мастера маникюра имеют награды престижных конкурсов, постоянно участвуют в семинарах и тренингах, совершенствуя свое мастерство. Ассортимент услуг постоянно обновляется. В «Овации» может сбыться ваша мечта о превращении с помощью современных техник окрашивания и процедур по наращиванию волос из коротко стриженной брюнетки в длинноволосую блондинку и наоборот. Так же вы не сможете пройти мимо кабинетов маникюра и педикюра, где вас ждут новинки, необыкновенные спа – процедуры для рук и ног. Солярий салона красоты «Овация» позволит Вам быстро и комфортно получить качественный и безопасный загар! В выборе названия мы руководствовались собственными внутренними ощущениями, мы бы хотели, что бы при появлении наших клиентов на публике всегда звучали овации.</p>
			<a class="gallery__unit  is--center" href="http://salon-ovatsiya.web-dob.com/media/ckeditor/2020/10/11/salon3.jpg" data-fancybox="gallery">
				<img alt="" class="img-responsive" src="http://salon-ovatsiya.web-dob.com/media/ckeditor/2020/10/11/salon3.jpg"> 
			</a>
		</div>
	</section>
{% endif %}