{% if view == "page" %}
	<section class="{{prefix}}panel  {{mod}}" {% if bg %}style="background-image: url({{bg}})"{% endif %}>
		<div class="{{prefix}}container  container  {{mod}}">
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
			{% include "../common/gallery/card.twig" with {
			 	prefix: card_prefix,
			 	list: card_list
			} %}
		</div>
	</section>
{% endif %}