{% if view == "page" %}
	<section class="{{prefix}}panel  {{mod}}" style="background-image: url({{bg_left}}), url({{bg_bottom}})">
		<div class="{{prefix}}container  container  {{mod}}">
			{% include "../common/page-header/tpl.twig" with {
				prefix:"page-header__", 
				mod:heading_mod,
				level:heading_level, 
				heading:heading
			} %}
			{% include "../common/form/form.twig" with {
				view: 			"reviews", 
				prefix:			"form__",
				mod:			"is--form-reviews", 
				color:			"", 
				ID: 			"fb_reviews",  
			} %}		
			<div class="{{prefix}}row  grid__row  {{mod}}">
				{% include "../common/card/card.twig" with {
				 	view: card_view, 
				 	prefix: card_prefix, 
				 	mod: card_mod, 
				 	list: card_list
				} %}
			</div>
		</div>
	</section>
{% endif %}