{% if view == "objacts" %}
	<div class="{{prefix}}panel  {{mod}}  {{group}}">
		<ul class="{{prefix}}nav  {{mod}}">
			{% for value in list %}
			<li class="{{prefix}}item  {{mod}}">
				<a class="{{prefix}}link  {{mod}}  {{value.status}}" href="#">{{value.name}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
{% if view == "contacts" %}
	<div class="{{prefix}}panel  {{mod}}  {{content_mod}}">
		<ul class="{{prefix}}nav  {{mod}}">
			{% for value in list %}
			<li class="{{prefix}}item  {{mod}}  {% if value.status == 'true' %}active{% endif %}">
				<a class="{{prefix}}link  {{mod}}" href="#{{tabs_id}}_{{value.id}}" data-toggle="tab" aria-expanded="{{value.status}}" data-view-office data-coord="{{value.coord}}">{{value.name}}</a>
			</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}